WebServices/WebServiceApp/src/conf/xml-resources/web-service-references/PredecirPartido/wsdl/54.191.84.23_8080/WebServiceTenis/PredecirPartido.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://prediccion.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://prediccion.ws/">

<xs:element name="InterruptedException" type="tns:InterruptedException"/>

<xs:element name="predecir" type="tns:predecir"/>

<xs:element name="predecirResponse" type="tns:predecirResponse"/>

<xs:complexType name="predecir">
<xs:sequence>
<xs:element name="jugador1" type="xs:string" minOccurs="0"/>
<xs:element name="jugador2" type="xs:string" minOccurs="0"/>
<xs:element name="tipoSuperficie" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="predecirResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InterruptedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>